p
{
  color:rgb(236, 79, 121);
  width:15%;
  height:10%;
  margin-left:35px;
  border-radius:20px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  display:flex;
  flex-direction: column;
}
span{
  font-size: 30px;
}
.counter{
  display:flex;
  flex-direction: row;
  margin-left:20%;
}
.offer
{
  margin-left: 40%;
  margin-top: -23%;
  padding-bottom:10%;
}
.quotes
{
  margin-left: 50px;
  margin-top:50px;
}
